
  <h1><%=t :faq_title %></h1>

  <h2><%=t :faq_header %></h2>
  <p><%=t :faq_copy %></p>

  <h2><%=t :faq_header2 %></h2>
  <p><%=t :faq_copy2 %></p>

  <h2><%=t :faq_header3 %></h2>
  <p><%=t :faq_copy3 %></p>

  <h2><%=t :faq_header4 %></h2>
  <p><%=t :faq_copy4 %></p>
  
  <h2><%=t :faq_header5 %></h2>
  <p><%=t :faq_copy5 %></p>
  
  <h2><%=t :faq_header6 %></h2>
  <p><%=t :faq_copy6 %></p>
