<section id="rules" class="overlay">
  <a class="back" href="#" title="">&laquo; <%=t :back %></a>
  <%= render :partial => "shared/rules" %>
</section>

<section id="faq" class="overlay">
  <a class="back" href="#" title="">&laquo; <%=t :back %></a>
  <%= render :partial => "shared/faq" %>
</section>

<section id="terms" class="overlay">
  <a class="back" href="#" title="">&laquo; <%=t :back %></a>
  <h1><%=t :terms %></h1>
  <p><%=t :terms_copy %></p>
  <p class="uppercase"><%=t :terms_copy2 %></p>
  <p><%=t :terms_copy3 %></p>
  <p><%=t :terms_copy4 %></p>
  <p><%=t :terms_copy5 %></p>
  <p class="uppercase"><%=t :terms_copy6 %></p>
</section>