<!-- promo region -->
<div class="inner-wrapper">
  <section role="promo">

    <aside class="smartglass">
      <div class="game-art"></div>

      <div class="smartglass-info">
        <h2><%=t :promo_title %></h2>
        <p><%=t :promo_body_one %></p>
        <p><%=t :promo_body_two %></p>
        <a target="_blank" href="http://marketplace.xbox.com/<%= Locale.all[I18n.locale.to_sym][:altcode] %>/Product/Dance-Central-3/66acd000-77fe-1000-9115-d802373307d9" class="learn-more"><%=t :learn_more %></a>
        <a target="_blank" href="http://www.xbox.com/<%= Locale.all[I18n.locale.to_sym][:altcode] %>/live/smartglass" class="learn-more-info"><%=t :learn_more_info %> ></a>
      </div>
    </aside>

    <aside class="buy-game">
      <div class="buy-game-icon"></div>
      <div class="buy-game-btns">
        <!-- demo link for now -->
        <a target="_blank" href="http://marketplace.xbox.com/<%= Locale.all[I18n.locale.to_sym][:altcode] %>/Product/Dance-Central-3/66acd000-77fe-1000-9115-d802373307d9" class="buy-game-btn order_copy"><%=t :order_the_game %></a>
        <a target="_blank" href="http://www.dancecentral.com/" class="buy-game-btn dc_com"><%=t :follow_the_website %></a>
      </div>
    </aside>

  </section>
</div>


