<div id="fb-tab">
  <div>
    <p><%= t :tab_copy_a %></p>
    <p><%= t :tab_copy_b %></p>
  </div>

  <a href="<%=BASE_URL%>home/locale/<%=set_locale %>" target="_blank" title="Launch App" alt="launch_app" class="learn-more"> <%= t :tab_link_copy %> </a>

</div>
