<!-- fr_FR -->
<div class="inner-wrapper">
  <section role="prizes">
    <h1><%=t :prizes_headline %></h1>
    <p><%=t :prizes_headline_info %></p>

    <aside role="prize-two" class="prize-two">
      <h2><%=t :prize_two_title %></h2>
      <p><%=t :prize_two_body %></p>
    </aside>

    <aside role="prize-three" class="prize-three">
      <h2><%=t :prize_three_title %></h2>
      <p><%=t :prize_three_body %></p>
    </aside>
  </section>
</div>