<!-- en_US -->
<h1><%=t :rules_header %></h1>
<h2> <%=t :rules_sub_header %></h2>

<h2> <%=t :rules_section_a_title %></h2>
<p><%=t :rules_section_a_copy_a %></p>
<p><%=t :rules_section_a_copy_b %></p>


<h2> <%=t :rules_section_b_title %></h2>
<p><%=t :rules_section_b_copy_a %></p>
<p><%=t :rules_section_b_copy_b %></p>

<h2> <%=t :rules_section_c_title %></h2>
<p><%=t :rules_section_c_copy_a %></p>


<h2> <%=t :rules_section_d_title %></h2>
<p><%=t :rules_section_d_copy_a %></p>
<p><%=t :rules_section_d_copy_b %></p>
<p><%=t :rules_section_d_copy_c %></p>
<p><%=t :rules_section_d_copy_d %></p>
<p><%=t :rules_section_d_copy_e %></p>
<p><%=t :rules_section_d_copy_v %></p>

<h2> <%=t :rules_section_e_title %></h2>
<p><%=t :rules_section_e_copy_a %></p>
<p><%=t :rules_section_e_copy_b %></p>
<p><%=t :rules_section_e_copy_c %></p>


<h2> <%=t :rules_section_f_title %></h2>
<p><%=t :rules_section_f_copy_a %></p>
<p><%=t :rules_section_f_copy_b %></p>

<h2> <%=t :rules_section_g_title %></h2>
<p><%=t :rules_section_g_copy_a %></p>
<p><%=t :rules_section_g_copy_b %></p>

<h2> <%=t :rules_section_h_title %></h2>
<p><%=t :rules_section_h_copy_a %></p>
<p><%=t :rules_section_h_copy_b %></p>
<p><%=t :rules_section_h_copy_c %></p>
<p><%=t :rules_section_h_copy_d %></p>
<p><%=t :rules_section_h_copy_e %></p>
<p><%=t :rules_section_h_copy_f %></p>

<h2> <%=t :rules_section_i_title %></h2>
<p><%=t :rules_section_i_copy_a %></p>
<p><%=t :rules_section_i_copy_b %></p>
<p><%=t :rules_section_i_copy_c %></p>
<p><%=t :rules_section_i_copy_d %></p>
<p><%=t :rules_section_i_copy_e %></p>
<p><%=t :rules_section_i_copy_f %></p>
<p><%=t :rules_section_i_copy_g %></p>
<p><%=t :rules_section_i_copy_h %></p>

<h2> <%=t :rules_section_j_title %></h2>
<p><%=t :rules_section_j_copy_a %></p>
<p><%=t :rules_section_j_copy_b %></p>
<p><%=t :rules_section_j_copy_c %></p>
<p><%=t :rules_section_j_copy_d %></p>
<p><%=t :rules_section_j_copy_e %></p>
<p><%=t :rules_section_j_copy_f %></p>
<p><%=t :rules_section_j_copy_g %></p>
<p><%=t :rules_section_j_copy_h %></p>
<p><%=t :rules_section_j_copy_i %></p>
<p><%=t :rules_section_j_copy_j %></p>
<p><%=t :rules_section_j_copy_k %></p>
<p><%=t :rules_section_j_copy_l %></p>
<p><%=t :rules_section_j_copy_m %></p>
<p><%=t :rules_section_j_copy_n %></p>
<p><%=t :rules_section_j_copy_o %></p>

<h2> <%=t :rules_section_k_title %></h2>
<p><%=t :rules_section_k_copy_a %></p>
<p><%=t :rules_section_k_copy_b %></p>
<p><%=t :rules_section_k_copy_c %></p>
<p><%=t :rules_section_k_copy_d %></p>
<p><%=t :rules_section_k_copy_e %></p>

<h2> <%=t :rules_section_l_title %></h2>
<p><%=t :rules_section_l_copy_a %></p>


<h2> <%=t :rules_section_m_title %></h2>
<p><%=t :rules_section_m_copy_a %></p>
<p><%=t :rules_section_m_copy_b %></p>

<h2> <%=t :rules_section_n_title %></h2>
<p><%=t :rules_section_n_copy_a %></p>

<h2> <%=t :rules_section_o_title %></h2>

<!-- non translated? -->
<% if session[:locale] == 'en_US' %>
  <p>Microsoft Corporation<br />One Microsoft Way<br />Redmond, WA 98052</p>
<% elsif session[:locale] == 'en_GB' %>
  <p>need en_GB xbox location?</p>
<% elsif session[:locale] == 'fr_FR' %>
  <p>need fr_FR xbox location?</p>
<% else %>
  <p>Microsoft Corporation<br />One Microsoft Way<br />Redmond, WA 98052</p>
<% end %>